<h1 class="text-pink-400 text-4xl pt-6 pl-10 text-center">Expériences professionelles :</h1>
<div class="container bg-em mx-auto w-full h-full">
    <div class="relative wrap overflow-hidden p-10 h-full">
        <div class="border-2-2 absolute border-opacity-20 border-pink-400 h-full border" style="left: 50%">
        </div>

        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-teal-400 shadow-xl w-20 h-20 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">02/2022 <br> 03/2022</h1>
            </div>
            <div class="order-1 bg-slate-800 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Développeuse fullstack (C.D.D.)<br>Popcom – Prades le Lez</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">
                    Popcom, entreprise de communication, TPE de 4 employées, la société a reçu un grand nombre de demandes en début d’années 2022 (notamment pour des salons ou encore de nouveaux panneaux publicitaires mais aussi des mises à jour de sites web).
                    J’ai été embauche à des fins de renfort sur une petite durée : ma mission était la création d’un site web dynamique pour le compte d’un des clients de Popcom.
                    J’ai travaillé avec le développeur senior en poste qui m’a donné un cahier des charges (police à utiliser, couleurs, logos, zones, etc…) à mettre en œuvre sur WordPress avec un backend en PHP.
                    Il s’agissait de créer un site vitrine pour le client (promoteur immobilier) mais aussi de lui créer une partie CRM, dans laquelle il pourrait créer, modifier, réserver ou supprimer un bien immobilier.</p>
            </div>
        </div>
  
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-teal-400 shadow-xl w-20 h-20 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">10/2021 <br> 11/2021</h1>
            </div>
            <div class="order-1 bg-yellow-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Développeuse logiciel (stage en télétravail)<br>Clowz SA - Montpellier</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Le directeur de Clowz était le client lors de cette mission, nous étions un développeur senior et deux juniors.
                    Le client a créé un concept d’investissement sur les plantations de cannabis : via une application mobile, l’utilisateur doit pouvoir choisir entre plusieurs types de plants (plus ou moins rentables), en acheter un ou plus et l’entreprise (au Portugal) se charge de la plantation, l’entretien, la récolte et la revente à des laboratoire ; ensuite, l’utilisateur reçoit ses gains via l’application et peut les retirer ou les réinvestir.</p>
            </div>
        </div>
          
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-teal-400 shadow-xl w-20 h-20 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">08/2018 <br> 07/2019</h1>
            </div>
            <div class="order-1 bg-slate-800 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Responsable de développement foncier<br>Hectare - Vendargues</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">Il s’agissait d’un CDD en alternance pour valider mon Bachelor « Responsables de Programmes Immobiliers » (BAC+3).
                    Le développement foncier est un domaine assez large qui répertorie plusieurs activités telles que la cartographie, l’étude de constructibilité et de rentabilité, les négociations avec les propriétaires de terrains et les contacts avec les élus pour la négociations d’appels d’offres -entre autre.</p>
            </div>
        </div>
  
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-teal-400 shadow-xl w-20 h-20 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">09/2017 <br> 08/2018</h1>
            </div>
            <div class="order-1 bg-yellow-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Chargée de programmes & développement<br>Groupe flot immobilier - Baillargues</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Il s’agissait d’un CDD en alternance pour valider ma deuxième année de BTS « Professions immobilières » (BAC+2). Il s’agissait d’un emploi à double missions : une partie commerciale dans laquelle je devais gérer les lancements commerciaux de nouveaux programmes immobiliers et lancer l’activité de développement foncier qui n’était pas existante au sein de l’entreprise.</p>            
            </div>
        </div>
    
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-teal-400 shadow-xl w-20 h-20 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">09/2016 <br> 09/2017</h1>
            </div>
            <div class="order-1 bg-slate-800 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Chargée de prospection foncière<br>Vinci immobilier - Montpellier</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">Il s’agissait d’un CDD en alternance pour valider ma première année de BTS « Professions immobilières » (BAC+2). L’entreprise souhaitait un soutien au responsable de développement foncier en place.</p>
            </div>
        </div>
    </div>
</div>
<br><br>

<h1 class="text-pink-400 text-4xl pt-6 pl-10 text-center">Projets personnels :</h1>

<div class="container mx-auto my-20 w-full h-full  bg-white rounded-lg">
    <div class="p-5 space-y-5">
        <div class="grid grid-cols-4 gap-8">
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/rn83.jpg">
            <section>
                <h1 class="text-slate-800 text-5xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>Need you</strong></h1><br><br>
                <p class="pt-6 pl-10 px-4 py-2 text-2xl text-pink-400">Nom non contractuel</p><br><br>
                <p class="pt-6 pl-10 px-4 py-2 text-2xl text-teal-400">En cours de réalisation</p>
            </section>
            <section>
                <u class="text-2xl text-yellow-400">Description du projet :</u><br><br>
                <p>
                    Il s’agit d’un <strong>projet en cours</strong> sur lequel je me suis penchée fin 2021.<br>
                    Pour des raisons de <strong>confidentialité</strong>, je ne peux pas encore expliquer le projet dans le détail.<br>
                    Il s’agit d’une <strong>application mobile</strong> qui servira à la <strong>sécurité routière des motards</strong> (en premier lieu) et qui pourra, par la suite, s’élargir à tous les utilisateurs de la route.
                    De là est ressortie une idée d’application mobile disponible pour tous dans laquelle <strong>les informations du motards seront disponibles</strong> par un <strong>dispositif encore confidentiel</strong>.
                </p>
            </section>
            <section>
                <u class="text-2xl text-pink-400">Stack du projet :</u><br><br>
                <ul>
                    <li>Angular</li>
                    <li class="text-right">Rust</li>
                    <li>Jetpack Compose</li>
                    <li class="text-right">Kotlin</li>
                    <li>SwiftUI</li>
                    <li class="text-right">Embassy</li>
                    <li>Python</li>
                    <li class="text-right">AWS</li>
                </ul>
            </section> 
        </div>
    </div>
</div>

<div class="container mx-auto my-20 w-full h-full  bg-white rounded-lg">
    <div class="p-5 space-y-5">
        <div class="grid grid-cols-4 gap-8">
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/xhfh.jpg">
            <section>
                <h1 class="text-slate-800 text-5xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>WeScop</strong></h1><br><br>
                <p class="pt-6 pl-10 px-4 py-2 text-2xl text-pink-400">Projet scolaire (en groupe)</p><br><br>
                <p class="pt-6 pl-10 px-4 py-2 text-2xl text-teal-400">Réalisé sur 1 mois</p>
            </section>
            <section>
                <u class="text-2xl text-yellow-400">Description du projet :</u><br><br>
                <p>Depuis le début de la <strong>crise sanitaire</strong> qui nous touche, les S.C.O.P. rencontrent des <strong>difficultés pour effectuer leurs assemblées générales</strong> ; notamment la partie des <strong>votes</strong> (qui se fait le plus souvent à main levée) qui a été très compliquée à gérer puisqu’en ligne, il n’y a pas de <strong>plateforme disponible pour des votes en direct</strong>, qui soit sûr et dédiée à cela.<br>
                    Il nous a donc été demandé de créer <strong>une interface web ainsi qu’une application mobile</strong> afin de pouvoir effectuer les votes, accéder aux documents de l’assemblée générale mais aussi aux procurations.
                </p>
            </section>
            <section>
                <u class="text-2xl text-pink-400">Stack du projet :</u><br><br>
                <ul>
                    <li>JavaScript</li>
                    <li class="text-right">Angular</li>
                    <li>NativeScript</li>
                    <li class="text-right">Nest</li>
                    <li>SQLite</li>
                    <li class="text-right">TypeORM</li>
                    <li>Socket.io</li>
                    <li class="text-right">Tailwind</li>
                </ul><br><br>
                <u class="text-2xl text-pink-400">Lien GitHubt :</u><br><br>
                <a href="https://github.com/fabriquebeweb/scop" target="_blank">https://github.com/fabriquebeweb/scop</a>
            </section>
        </div>
    </div>
</div>

<h1 class="text-pink-400 text-4xl pt-6 pl-10 text-center">Lectures en cours :</h1>
<p class="text-yellow-400 text-xl pt-6 pl-10 text-center">(ou sous le coude pour les coups durs !)</p>
<div class="container mx-auto my-20 w-2/3 bg-white rounded-lg">    
    <div class="p-5 space-y-5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 pl-20">
            <img class="rounded-lg w-ful h-full" src="https://zupimages.net/up/22/26/obqa.jpg">
            <img class="rounded-lg w-ful h-full" src="https://zupimages.net/up/22/26/688j.jpg">
            <img class="rounded-lg w-ful h-full" src="https://zupimages.net/up/22/26/ryzl.jpg">
            <img class="rounded-lg w-ful h-full" src="https://zupimages.net/up/22/26/y3pa.jpg">
            <img class="rounded-lg w-ful h-full" src="https://zupimages.net/up/22/26/zyug.jpg">
            <img class="pl-4 rounded-lg w-ful h-full" src="https://zupimages.net/up/22/26/0bgc.jpg">
        </div>
    </div>
</div>