<p>Développeuse fullstack (C.D.D.) fév 2022 – mars 2022 <br>
    Popcom – Prades le Lez<br>
    Mission de création d’un site web dynamique pour le compte d’un client de l’entreprise avec travail sur la partie front-end et back-end.</p><br>

<p>Développeuse logiciel (stage en télétravail de 2 mois) oct 2021 – nov 2021<br>
    Clowz SA - Montpellier<br>
    Création d’une application mobile de e-commerce.</p><br>

<p>Responsable de développement foncier août 2018 – juil 2019<br>
    Hectare - Vendargues<br>
    Poste à responsabilités dans lequel le développement foncier était ma mission principale.</p><br>

<p>Chargée de prospection foncière sept 2016 – sept 2017<br>
    Vinci immobilier - Montpellier<br>
    Poste junior de développement foncier, commerce, culture du réseau.</p><br>

<p>Chargée de programmes & développement sept 2017 – août 2018<br>
    Groupe flot immobilier - Baillargues<br>
    Poste à responsabilités : développement foncier et gérance de lancements commerciaux.</p><br>
