<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1 class="text-emerald-800 text-2xl pt-6 pl-10">Mon historique :</h1>
        <p class="pt-6 pl-10 pb-10">Après mon baccalauréat et une année sabbatique et sous les conseils de mes proches, j’ai décidé de suivre des études supérieures dans l’immobilier. Trois années d’études supérieures plus tard, j’ai commencé à me rendre compte que ce domaine ne correspondait plus à mes valeurs : l’esprit d’équipe quasi inexistant, la concurrence permanente avec sa propre équipe et un certain manque de bienveillance entre les uns et les autres étaient des éléments que j’ai retrouvé dans toutes les entreprises dans lesquelles j’ai pu travailler…<br>
        La crise sanitaire aidant, j’ai eu l’occasion de faire une introspection sur moi-même et particulièrement sur mon avenir professionnel ; c’est là que j’ai décidé de financer un bilan de compétences afin de découvrir le métier qui me correspondrait, sur le long terme.<br>
        Le métier ressorti en première place fut développeur web : passionnée par la culture pop, la tech en générale et tout ce qui tourne autour des nouvelles technologies, cette réponse a été une évidence.<br>
        Malgré tout, ne prenant pas de décision à la légère, j’ai décidé de prendre un moment pour faire mes propres recherches, suivre quelques tutoriels simples et, surtout, questionner des développeurs de mon entourage et sur des forums afin de découvrir tous les aspects de ce fabuleux métier !<br>
        Captivée et curieuse, j’ai contacté le centre de formation BeWeB, à Montpellier, afin de participer à une piscine d’une semaine. Après cela, j’ai décidé de suivre le titre professionnel « développeur web et web mobile », équivalent à un BAC+2.<br>
        Et me voilà, attendant la rentrée scolaire de l’ESPI pour le Bachelor informatique, spécialisation DEVOPS « Concepteur développeur d’applications » pour continuer à monter en compétences grâce à cette écolé et peut-être vous, puisque je recherche actuellement un contrat en alternance !</p>
    <h1 class="text-emerald-800 text-2xl pt-6 pl-10">Mes passions :</h1>
        <!-- <div class="scroll-pl-6 snap-x">
            <div class="snap-start ... shadow-md box-border h-64 w-64">
                horse riding
                <img src="https://zupimages.net/up/22/24/ekzd.jpg">
            </div>
            <div class="snap-start ... shadow-md box-border h-64 w-64">
                motorcycle
                <img src="https://zupimages.net/up/22/24/5u91.jpg">
            </div>
            <div class="snap-start ... shadow-md box-border h-64 w-64">
                mecanic
                <img src="https://zupimages.net/up/22/24/u7g6.jpg">
            </div>
            <div class="snap-start ... shadow-md box-border h-64 w-64">
                cats
                <img src="https://zupimages.net/up/22/24/0bih.jpg">
            </div>
            <div class="snap-start ... shadow-md box-border h-64 w-64">
                art
                <img src="https://zupimages.net/up/22/24/qd5s.jpg">
            </div>
        </div> -->
    <h1 class="text-emerald-800 text-2xl pt-6 pl-10">Quelques informations utiles :</h1>
        <div class="pt-6 pl-10 pb-10">
            <p>Née le 22 mai 1995</p>
            <p>Citation préférée : <q>Il n'y a point de bonheur sans courage, ni de vertu sans combat.</q> - Rousseau</p>
            <p>Collections : Tout ce qui tourne autour de l'univers d'Assassin's Creed et le rétro gaming en générale</p>
            <p>Anecdote : Je peux toucher mon nez avec ma langue !</p>
        </div>
    <h1 class="text-emerald-800 text-2xl pt-6 pl-10">Technos connues, appétence et niveau :</h1>

    <h1 class="text-emerald-800 text-2xl pt-6 pl-10">Mes points forts :</h1>
        <div class="pt-6 pl-10 pb-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-2">
            <p>Communication</p>
            <p>Esprit d'équipe</p>
            <p>Autonomie</p>
            <p>Curiosité</p>
            <p>Volonté de monter en compétences</p>
        </div>
    <h1 class="text-emerald-800 text-2xl pt-6 pl-10">Mes points à travailler :</h1>
        <div class="pt-6 pl-10 pb-10">
            <p>Pas toujours à l'aise avec les chiffres</p>
            <p>Difficulter à timer une mission</p>
            <p>Sensible à l'ambiance de l'équipe</p>
            <p>Addiction au café</p>
        </div>
</body>
</html>