<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- TIMELINE -->
<h1 class="text-red-400 text-4xl pt-6 pl-10 text-center">Mon historique :</h1>
<div class="container bg-em mx-auto w-full h-full">
    <div class="relative wrap overflow-hidden p-10 h-full">
        <div class="border-2-2 absolute border-opacity-20 border-red-400 h-full border" style="left: 50%"></div>
        <!-- 2014 -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-purple-400 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">2014</h1>
            </div>
            <div class="order-1 bg-slate-800 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Sortie du bac</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">
                    Après un bac littéraire, j'ai passé une année sabbatique pendant laquelle j'ai voyagé en France et dans les pays frontaliers.
                    J'avais besoin de faire une pause afin de réfléchir à mon avenir car je ne savais absolument pas quoi faire !
                </p>
            </div>
        </div>
        <!-- 2016 -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-purple-400 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto text-white font-semibold text-lg">2016</h1>
            </div>
            <div class="order-1 bg-teal-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Entrée en B.T.S. "Professions immobilières"</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">
                    Sous les conseils de ma famille, très tournée vers les métiers du tertiaire, j'ai décidé de suivre un cursus dans l'immobilier.
                    J'ai pu faire mes études en alternances dans deux entreprises : une nationale et une régionale : cela m'a permis de découvrir des 
                    techniques commerciales différentes mais aussi des fonctionnements d'entreprise distincts.
                </p>
            </div>
        </div>
        <!-- 2018 -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-purple-400 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">2018</h1>
            </div>
            <div class="order-1 bg-slate-800 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Entrée en bachelor "Responsable de programmes immobiliers"</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">
                    Dans ma lancée, j'ai décidé de continuer sur un bac+3 afin d'étayer mes compétences mais aussi "peser" un peu plus dans 
                    le marché du travail. Très intéressée par la promotion immobilière à ce moment-là, cela paraissait évident de continuer !
                </p>
            </div>
        </div>
        <!-- 2019 -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-purple-400 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto text-white font-semibold text-lg">2019</h1>
            </div>
            <div class="order-1 bg-teal-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Le COVID, mon déclic</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">
                    Après mes études, je suis entrée en poste chez un promoteur national. Malheureusement, le COVID est arrivé et j'ai été 
                    licenciée pendant ma période d'essai.<br>Et vous savez quoi ? j'étais soulagée : je ressentai que ma place n'était pas 
                    dans ce domaine et j'ai pris une pause professionelle, moi, qui avais toujours travaillé, afin de remettre en question 
                    mon avenir professionnel.
                </p>
            </div>
        </div>
        <!-- 2020 -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-purple-400 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">2020</h1>
            </div>
            <div class="order-1 bg-slate-800 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">On passe à l'action !</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">
                    A fond dans l'introspection, il y a quand même eu un moment où j'ai eu besoin d'aide pour poser mon projet professionnel à 
                    plat : j'ai donc décidé de faire un bilan de compétences afin d'avoir des réponses (que j'avais déjà) à mes questions.<br>
                    Le métier qui est ressorti en haut de la liste a été "développeur web" ! J'ai donc immédiatement entrepris de m'intéresser 
                    à ce métier (que je connaissais de loin mais qui m'intéressait) en m'informant, en en discutant avec des personnes du secteur 
                    et en faisant des tests en ligne (hello world !).
                </p>
            </div>
        </div>
        <!-- 2021 -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-purple-400 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto text-white font-semibold text-lg">2021</h1>
            </div>
            <div class="order-1 bg-teal-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Le plongeon :</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">
                    Je me suis rapproché d'une école grâce à mon organisme de bilan de compétences qui s'appelle "BeWeB" et j'ai eu de la chance 
                    de participer à une piscine prévue peu de temps après afin de présenter l'école, le métier et le rythme de la formation !
                    <br>J'ai été acceptée et l'année est passée à une vitesse !!!
                </p>
            </div>
        </div>
        <!-- 2022 -->
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-purple-400 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">2022</h1>
            </div>
            <div class="order-1 bg-slate-800 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Qu'est-ce qu'on fait, maintenant ?</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">
                    Ne trouvant pas d'alternance pour continuer mes études dans l'école que j'avais intégré et dans l'optique de ne pas perdre 
                    la main, j'ai continué à travailler dans mon coin, apprendre des choses, tester.J'ai ensuite décidé de passé les tests pour 
                    entrer à l'EPSI que j'ai réussi !<br>J'ai rapidement trouvé un contrat en alternance au sein de l'entreprise IdealSoft, à 
                    Saint-Clément-de-Rivière, dans laquelle j'évolue en tant que développeuse front-end.
                </p>
            </div>
        </div>
        <!-- 2023 -->
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-purple-400 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto text-white font-semibold text-lg">2023</h1>
            </div>
            <div class="order-1 bg-teal-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Et maintenant ?</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">
                    Il est grand temps de se concentrer sur l'avenir !<br>Pour cela, j'ai besoin de trouver une nouvelle entreprise afin de 
                    continuer mes études vers le Master EISI de l'EPSI, cursus tourné vers le développement fullstack.
                </p>
            </div>
        </div>
    </div>
</div> <br><br> 

<!-- HOBBIES -->
<h1 class="text-red-400 text-4xl pt-6 pl-10 text-center">Mes bonheurs, mes passions :</h1>
<p class="text-teal-400 text-xl pt-6 pl-10 text-center">Psst ! passez votre souris sur les images pour avoir plus d'informations !</p>
<div class="container mx-auto my-20 w-full h-full bg-white rounded-lg">    
    <div class="p-5 space-y-5">
        <div class="pl-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- HORSE -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/fpxs.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-teal-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">L'équitation</h1>
                                <p class="my-2 text-black"><br>
                                    Je fais de l'équitation en club depuis l'âge de 23 ans (oui, ça fait beaucoup de temps !).<br>
                                    J'ai fait énormément de <strong>compétition</strong> plus jeune et j'ai pratiqué l'équitation classique, 
                                    camarguaise, la fantasia (au Maroc) et je monte désormais à la western.<br>Aujourd'hui, je suis 
                                    <strong>propriétaire</strong> d'un trotteur français qui s'appelle <strong>Quidam !</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- DOG -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/23/12/w05x.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-red-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">Les toutous</h1>
                                <p class="my-2 text-black"><br>
                                    Je vous présente <strong>Freyja</strong> : c'est une chienne type berger allemand de 3 ans que j'ai adopté 
                                    à la SPA en septembre 2022. Elle a été abandonnée par ses maîtres car elle attendait des petits.<br>Aujourd'hui,
                                    j'essaie de lui donner <strong>la meilleure vie possible</strong> : grandes promenades à cheval ou toutes les deux, 
                                    découverte de plein d'aliments rencontre de plein de copains au parc à chiens !<br> C'est <strong>gnangnan</strong> 
                                    mais c'est <strong>ma meilleure amie</strong>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- CATS -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/jwpt.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-purple-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">Les chats</h1>
                                <p class="my-2 text-black"><br>
                                    Oui, les chats, c'est une passion !<br>Mes amis m'appellent <strong>"l'impératrice des chats"</strong> 
                                    car je peux approcher n'importe laquelle de ces boules de poils, même la plus peureuse.<br>On peut vraiment 
                                    dire que je deviens <strong>gaga</strong> : quand j'en vois un, je DOIS m'arrêter pour le caresser !<br>Ceux 
                                    que vous voyez en photo, ce sont les miens (de gauche à droite) : <strong>Sparrow et Titou</strong> !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- FRIENDS -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/23/12/98yo.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-teal-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">Les amis</h1>
                                <p class="my-2 text-black"><br>
                                    Je suis un peu extravertie ! <br>J'adore voir du monde, partager, discuter et <strong>amuser la galerie</strong> 
                                    ! <br>Pour moi, voir mes amis est quelque chose d'essentiel : j'aime savoir que mon entourage va bien et que je 
                                    leur apporte de la positivité dans les moments difficiles. <br>Ha oui, ça aussi : je suis <strong>ultra positive</strong>
                                     !</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- SPORT -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/ndch.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-red-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">Le sport</h1>
                                <p class="my-2 text-black"><br>
                                    J'adore le sport !<br>Je pratique l'équitation (mais ça, vous le saviez déjà) le <strong>HiiT</strong> 
                                    (cardio à haute intensité), la course à pied, la <strong>musculation</strong> et le vélo.<br>Mais bon, 
                                    <strong>j'ai mes périodes ultra sportives et mes périodes "Netflix and chill"</strong> !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- HIKING -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/23/12/v6x1.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-purple-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">Les sorties en plein nature</h1>
                                <p class="my-2 text-black"><br>
                                    Oui, c'est un sport pour certains mais, pour moi, c'est un plaisir !<br>Dans l'Hérault, nous avons la chance 
                                    de cotoyer la mer, les forêts, les garrigues et plein d'autres <strong>paysages incroyables</strong>.<br>Alors
                                     je prends Freyja, je monte dans ma voiture et on part les découvrir !<br><br>On adore <strong>vadrouiller</strong> !
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- MOTOR CYCLES -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/vq1x.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-teal-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold"><br>La moto</h1>
                                <p class="my-2 text-black"><br>
                                    A vrai dire, j'ai eu mon permis moto avant mon permis auto car cette passion me suit depuis toute petite 
                                    et que je ne voulais pas attendre !<br>Pendant quelques années, j'ai été <strong>cheffe d'un groupe local</strong>
                                     et, maintenant, je fais énormément de <strong>sorties avec des amis</strong> mais aussi avec de jeunes motards à 
                                     qui j'apprends les <strong>bonnes pratiques de conduite</strong> !<br>J'ai' actuellement une 
                                     <strong>Hond CB650 R</strong> !
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- MECANIC -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/8qnm.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-red-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">La mécanique</h1>
                                <p class="my-2 text-black"><br>
                                    Se salir les mains, c'est quand même marrant !<br>Je fais de la <strong>mécanique de loisir</strong> 
                                    : curieuse, j'adore comprendre le fonctionnement des choses et j'ai une certaine fierté à savoir réparer 
                                    ma voiture toute seule !<br>Bon, après n'abusons pas, je ne suis pas experte mais je me débrouille suffisamment 
                                    pour éviter les facture à 3 ou 4 chiffres du garage !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- GT -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/dged.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-purple-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">Les voitures</h1>
                                <p class="my-2 text-black"><br>
                                    Qui dit fan de moto et de mécanique, dit fan de voiture : j'adore les sports mécaniques et les belles machines.
                                    <br>Je suis propriétaire d'une sportive que j'adore conduire et quand certains rêvent d'une belle maison, d'un 
                                    grand dressing ou encore d'une piscine dans le jardin, moi <strong>je rêve plutôt d'un garage rempli de voitures 
                                        de collection !</strong>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- ART -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/e4lv.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-teal-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">L'art, le dessin, la peinture</h1>
                                <p class="my-2 text-black">
                                    <br>Je pratique le dessin depuis un peu <strong>plus de 10 ans</strong> et je suis passée par pas mal d'étapes :
                                     le croquis, la peinture acrylique, le dessin sur tablette...<br>Mais j'ai fini par craquer pour 
                                     <strong>l'aquarelle</strong> !<br>Je développe encore mes techniques dans cette discipline mais j'avance !
                                     <br>Si vous voulez me rendre heureuse, proposez-moi une sortie au musée : j'adore ça !
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- BOOKS -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/g46l.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-red-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">La lecture</h1>
                                <p class="my-2 text-black"><br>
                                    Même s'il s'agit d'une infime partie de ma bibliothèque, on peut voir ici mes livres préférés.<br>
                                    C'est un peu <strong>hétéroclite</strong> : des oeuvres classiques, aux inspirations de Ghibli, en 
                                    passant par de la philosophie et le développement informatique !<br>Cette <strong>passion</strong> 
                                    pour la lecture me vient de ma mère et je lui ai d'ailleurs piqué une grande partie de ses oeuvres classiques !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- VIDEO GAMES -->
            <section class="w-96 h-96 bg-white flex justify-center items-center text-black">
                <div class="w-96 h-96 bg-transparent cursor-pointer group perspective">
                    <div class="relative preserve-3d group-hover:my-rotate-y-180 w-full h-full duration-1000">
                        <div class="rounded-lg absolute backface-hidden border-2 w-full h-full">
                            <img src="https://zupimages.net/up/22/26/ng89.jpg" class="rounded-lg w-full h-ull"/>
                        </div>
                        <div class="absolute my-rotate-y-180 backface-hidden w-full h-full bg-white overflow-hidden">
                            <div class="text-center flex flex-col items-center justify-center h-full text-purple-400 px-2 pb-24">
                                <h1 class="text-3xl font-semibold">Les jeux vidéo</h1>
                                <p class="my-2 text-black">
                                    <br>Fans de jeux vidéo depuis toujours, je suis pas mal de licence mais ma préférée reste "Assassin's Creed".
                                    <br>Sinon, je joue à beaucoup d'autres choses sur PC, PlayStation, XBOX, Switch et aussi en rétro gaming !<br>
                                    <strong>Mes coups de coeur actuels ?</strong><br>Assassin's Creed Origins, World of Warcraft, Pokémon Epée, GTA 1, 
                                    Metroid et Oddworld : New 'n' Tasty !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
    <!-- TECHNOS -->
    <h1 class="text-red-400 text-4xl pt-6 pl-10 text-center">Technos connues, appétence et niveau :</h1>
    <div class="container mx-auto w-2/3 my-20 h-full bg-white rounded-lg">    
        <div class="p-5 space-y-5">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-72">
                <section>
                    <p class="text-center">Appétence</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 100%"></div>
                    </div><br>
                </section>
                <section>
                    <p class="text-center">Niveau estimé</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 100%"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    
    <div class="container mx-auto my-20 w-full h-full bg-white rounded-lg">    
        <div class="p-5 space-y-5">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8">
                <section>
                    <p class="text-center">JavaScript / TypeScript / Angular / Ionic et React</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 99%"></div>
                    </div><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 78%"></div>
                    </div>
                </section>
                <section>
                    <p class="text-center">WordPress / Divi / ACF</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 60%"></div>
                    </div><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 80%"></div>
                    </div>
                </section>
                <section>
                    <p class="text-center">HTML5 / CSS3 / Bulma / Tailwind</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 88%"></div>
                    </div><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 92%"></div>
                    </div>
                </section>
                <section>
                    <p class="text-center">Postgre / Workbench / Postman / Insomnia</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 90%"></div>
                    </div><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 77%"></div>
                    </div>
                </section>
                <section>
                    <p class="text-center">PHP / Symfony</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 45%"></div>
                    </div><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 60%"></div>
                    </div>
                </section>
                <section>
                    <p class="text-center">GitHub / GitLab</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 100%"></div>
                    </div><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 90%"></div>
                    </div>
                </section>
                <section>
                    <p class="text-center">NodeJS / ViteJS / VueJS</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 99%"></div>
                    </div><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 70%"></div>
                    </div>
                </section>
                <section>
                    <p class="text-center">Kali Linux / Docker Desktop</p><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-purple-200">
                        <div class="bg-purple-400 h-2.5 rounded-full" style="width: 99%"></div>
                    </div><br>
                    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-teal-200">
                        <div class="bg-teal-400 h-2.5 rounded-full" style="width: 90%"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- POINTS + -->    
    <h1 class="text-red-400 text-4xl pt-6 pl-10 text-center">Mes points forts :</h1>
    <div class="container mx-auto my-20 w-full h-full bg-white rounded-lg">    
        <div class="p-5 space-y-5">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-8">
                <section>
                    <img class="pl-28" src="https://zupimages.net/up/23/12/1nhs.jpg"><br>
                    <p class="text-center text-lg">Bonne communication</p>
                </section>
                <section>
                    <img class="pl-24" src="https://zupimages.net/up/23/12/ang5.jpg"><br>
                    <p class="text-center text-lg">Esprit d'équipe et de cohésion</p>
                </section>
                <section>
                    <img class="pl-24" src="https://zupimages.net/up/23/12/eoa5.jpg"><br>
                    <p class="text-center text-lg">Autonomie sur certaines tâches</p>
                </section>
                <section>
                    <img class="pl-24" src="https://zupimages.net/up/23/12/j54z.jpg"><br>
                    <p class="text-center text-lg">Curiosité et apprentissage rapide</p>
                </section>
                <section>
                    <img class="pl-24" src="https://zupimages.net/up/23/12/t9z4.jpg"><br>
                    <p class="text-center text-lg">Volonté de monter en compétences</p>
                </section>
            </div>
        </div>
    </div>
    <!-- POINTS - -->
    <h1 class="text-red-400 text-4xl pt-6 pl-10 text-center">Mes points à travailler :</h1>
    <div class="container mx-auto my-20 w-full h-full bg-white rounded-lg">    
        <div class="p-5 space-y-5">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <section>
                    <img class="centered_text" src="https://zupimages.net/up/23/12/0zds.jpg"><br>
                    <p class="text-center text-lg">Pas toujours à l'aise avec les chiffres</p>
                </section>
                <section>
                    <img class="centered_text" src="https://zupimages.net/up/23/12/mdeu.jpg"><br>
                    <p class="text-center text-lg">Difficultés à timer une mission</p>
                </section>
                <section>
                    <img class="centered_text" src="https://zupimages.net/up/23/12/yaho.jpg"><br>
                    <p class="text-center text-lg">Sensible à l'ambiance de l'équipe</p>
                </section>
            </div>
        </div>   
    </div>
</body>
</html>