<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- TIMELINE -->
<h1 class="text-violet-300 text-4xl pt-6 pl-10 text-center">Mon historique :</h1>

<div class="container bg-em mx-auto w-full h-full">
    <div class="relative wrap overflow-hidden p-10 h-full">
        <div class="border-2-2 absolute border-opacity-20 border-violet-200 h-full border" style="left: 50%">
        </div>

        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">2014</h1>
            </div>
            <div class="order-1 bg-violet-300 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Sortie du bac</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">
                Après un bac littéraire, j'ai passé une année sabbatique pendant laquelle j'ai voyagé en France et dans les pays frontaliers. J'avais besoin de faire une pause afin de réfléchir à mon avenir car je ne savais absolument pas quoi faire !</p>
            </div>
        </div>
  
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto text-white font-semibold text-lg">2016</h1>
            </div>
            <div class="order-1 bg-sky-200 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Entrée en B.T.S. "Professions immobilières"</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Sous les conseils de ma famille, très tournée vers les métiers du tertiaire, j'ai décidé de suivre un cursus dans l'immobilier. J'ai pu faire mes études en alternances dans deux entreprises : une nationale et une régionale : cela m'a permis de découvrir des techniques commerciales différentes mais aussi des fonctionnements d'entreprise distincts.</p>
            </div>
        </div>
      
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">2018</h1>
            </div>
            <div class="order-1 bg-violet-300 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Entrée en bachelor "Responsable de programmes immobiliers"</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">Dans ma lancée, j'ai décidé de continuer sur un bac+3 afin d'étayer mes compétences mais aussi "peser" un peu plus dans le marché du travail. Très intéressée par la promotion immobilière à ce moment-là, cela paraissait évident de continuer !</p>
            </div>
        </div>
  
        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto text-white font-semibold text-lg">2019</h1>
            </div>
            <div class="order-1 bg-sky-200 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Le COVID, mon déclic</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Après mes études, je suis entrée en poste chez un promoteur national. Malheureusement, le COVID est arrivé et j'ai été licenciée pendant ma période d'essai.<br>Et vous savez quoi ? j'étais soulagée : je ressentai que ma place n'était pas dans ce domaine et j'ai pris une pause professionelle, moi, qui avais toujours travaillé, afin de remettre en question mon avenir professionnel.</p>
            </div>
        </div>
    
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">2020</h1>
            </div>
            <div class="order-1 bg-violet-300 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">On passe à l'action !</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">A fond dans l'introspection, il y a quand même eu un moment où j'ai eu besoin d'aide pour poser mon projet professionnel à plat : j'ai donc décidé de faire un bilan de compétences afin d'avoir des réponses (que j'avais déjà) à mes questions.<br>Le métier qui est ressorti en haut de la liste a été "développeur web" ! J'ai donc immédiatement entrepris de m'intéresser à ce métier (que je connaissais de loin mais qui m'intéressait) en m'informant, en en discutant avec des personnes du secteur et en faisant des tests en ligne (hello world !).</p>
            </div>
        </div>

        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto text-white font-semibold text-lg">2021</h1>
            </div>
            <div class="order-1 bg-sky-200 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Le plongeon :</h3>
                <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Je me suis rapproché d'une école grâce à mon organisme de bilan de compétences qui s'appelle "BeWeB" et j'ai eu de la chance de participer à une piscine prévue peu de temps après afin de présenter l'école, le métier et le rythme de la formation !<br>J'ai été acceptée et l'année est passée à une vitesse !!!</p>
            </div>
        </div>
  
        <div class="mb-8 flex justify-between items-center w-full right-timeline">
            <div class="order-1 w-5/12">
            </div>
            <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-12 h-12 rounded-lg">
                <h1 class="mx-auto font-semibold text-lg text-white">2022</h1>
            </div>
            <div class="order-1 bg-violet-300 rounded-lg shadow-xl w-5/12 px-6 py-4">
                <h3 class="mb-3 font-bold text-white text-xl">Qu'est-ce qu'on fait, maintenant ?</h3>
                <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">Honnêtement, on le sait, être junior et sortir d'une petite école, ce n'est pas rassurant pour se jeter dans le grand bein du marché du travail... non ? J'ai un peu galéré pour trouver un travail après l'obtention de mon diplôme..<br>Et j'ai continué à travailler dans mon coin, apprendre des choses, tester... Et je me suis dit "pourquoi pas apprendre avec d'autres personnes ?". J'ai donc décidé de passé les tests pour entrer à l'EPSI, école reconnue !<br>Et me voilà aujourd'hui, en recherche d'un contrat en alternance pour la rentrée de septembre de 2022, pleine d'espoir et d'ambiantion !</p>
            </div>
        </div>
    </div>
</div> <br><br> 

<!-- PASSIONS -->
<h1 class="text-violet-300 text-4xl pt-6 pl-10 text-center">Mes passions :</h1><br>
<div class="container mx-auto my-20 w-full h-full bg-white rounded-lg">    
    <div class="p-5 space-y-5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            <!-- horse riding -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/fpxs.jpg">
            <!-- Je fais de l'équitation en club depuis l'âge de 4 ans (Oui, ça fait beaucoup de temps !). J'ai fait énormément de compétition plus jeune et je suis désormais propriétaire d'un trotteur français ! -->
            <!-- sport -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/ndch.jpg">
            <!-- J'adore le sport ! Je pratique le HiiT, la course à pied, la musculation et le vélo. -->
            <!-- cats -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/jwpt.jpg">
            <!-- Oui, les chats, c'est une passion ! Mes amis m'appellent "l'impératrice des chats" car je peux approcher n'importe laquelle de ces boules de poils, même la plus peureuse. -->
            <!-- motor cycle -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/vq1x.jpg">
            <!-- Pour tout vous dire, j'ai eu mon permis moto avant mon permis auto car cette passion me suit depuis le plus jeune âge ! J'ai aussi été cheffe d'un groupe local pendant quelques années et, maintenant, je fais énormément de sorties avec des amis mais aussi avec de jeunes motards à qui j'apprends les bonnes pratiques de conduite ! -->
            <!-- mecanic -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/8qnm.jpg">
            <!-- Se salir les mains, c'est quand même vachement marrant ! Je fais de la mécanique de loisir : curieuse, j'adore comprendre le fonctionnement des choses et j'ai une certaine fierté à savoir réparer ma voiture toute seule ! -->
            <!-- GT -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/dged.jpg">
            <!-- Qui dit fan de moto et de mécanique, dit fan de voiture ! J'adore les sports mécaniques et les belles machines. Je suis propriétaire d'une sportive que j'adore conduire. -->
            <!-- art -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/e4lv.jpg">
            <!-- Je pratique le dessin depuis un peu plus de 10 ans et je suis passée par pas mal d'étapes : le croquis, la peinture acrylique, le dessin sur tablette... Mais j'ai fini par craquer pour l'aquarelle ! -->
            <!-- video games -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/ng89.jpg">
            <!-- Fans de jeu vidéo depuis toujours, je suis pas mal de licence mais ma préférée reste "Assassin's Creed". Sinon, je joue à beaucoup d'autres choses sur PC, PlayStation, XBOX, Switch et aussi en rétro gaming ! -->
            <!-- books -->
            <img class="rounded-lg" src="https://zupimages.net/up/22/26/g46l.jpg">
            <!-- Même s'il s'agit d'une infime partie de ma bibliothèque, voici mes livres préférés. C'est un peu hétéroclite : des oeuvres classiques, au inspirations de Ghibli !-->
        </div>
    </div>
</div>
<!-- TECHNOS -->
    <h1 class="text-violet-300 text-4xl pt-6 pl-10 text-center">Technos connues, appétence et niveau :</h1>
    <div class="container mx-auto my-20 w-full h-full bg-white rounded-lg">    
        <div class="p-5 space-y-5">
        </div>
    </div>

<!-- POINTS + -->    
<h1 class="text-violet-300 text-4xl pt-6 pl-10 text-center">Mes points forts :</h1>
<div class="container mx-auto my-20 w-full h-full bg-white rounded-lg">    
    <div class="p-5 space-y-5">
        <div class="pt-6 pl-32 pb-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-2">
            <img src="https://zupimages.net/up/22/26/lwa6.jpg">
            <!-- Communication -->
            <img src="https://zupimages.net/up/22/26/dkdg.jpg">
            <!-- Esprit d'équipe -->
            <img src="https://zupimages.net/up/22/26/iar1.jpg">
            <!-- Autonomie -->
            <img src="https://zupimages.net/up/22/26/r3sq.jpg">
            <!-- Curiosité -->
            <img src="https://zupimages.net/up/22/26/skb7.jpg">
            <!-- Volonté de monter en compétences -->
        </div>
    </div>
</div>
<!-- POINTS - -->
<h1 class="text-violet-300 text-4xl pt-6 pl-10 text-center">Mes points à travailler :</h1>
<div class="container mx-auto my-20 w-full h-full bg-white rounded-lg">    
    <div class="p-5 space-y-5">
        <div class="pt-6 pl-72 pb-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
            
            <img src="https://zupimages.net/up/22/26/2q02.jpg">
            <!-- Pas toujours à l'aise avec les chiffres -->
            <img src="https://zupimages.net/up/22/26/6kml.jpg">
            <!-- Difficulter à timer une mission -->
            <img src="https://zupimages.net/up/22/26/j0on.jpg">
            <!-- Sensible à l'ambiance de l'équipe -->
        </div>
    </div>   
</div>
</body>
</html>