<p>Bachelor informatique - spécialisation DEVOPS  "Concepteur développeur d'applications" début septembre 2022<br>
    <img src="https://zupimages.net/up/22/26/h0m4.png">
    EPSI – Montpellier<br>
    Développer les parties front-end et back-end d’une application web ou web mobile en intégrant les recommandations de sécurité.</p><br>

<p>BAC+2 « Développeur Web et Web mobile» fév 2021 – déc 2021<br>
    <img src="https://zupimages.net/up/22/26/cro5.png">
    Beweb – Montpellier<br>
    Développer les parties front-end et back-end d’une application web ou web mobile en intégrant les recommandations de sécurité.</p><br>

<p>BAC+3 « Responsable de Programmes Immobiliers» sept 2018 – juin 2019<br>
    <img src="https://zupimages.net/up/22/26/sskj.png">
    Sup’Exup – Montpellier<br>
    Prépare à être responsable de programmes de logements, commerces, bureaux, etc...</p><br>

<p>BAC+2 « Professions immobilières» sept 2016 – juin 2018<br>
    <img src="https://zupimages.net/up/22/26/sskj.png">
    Sup’Exup-Montpellier<br>
    Former dans des domaines tels que la construction et l’habitat ou encore la commercialisation</p><br>