<h1 class="text-violet-300 text-4xl pt-6 pl-10 text-center">Ma formation :</h1>
    <div class="container bg-em mx-auto w-full h-full">
        <div class="relative wrap overflow-hidden p-10 h-full">
            <div class="border-2-2 absolute border-opacity-20 border-violet-400 h-full border" style="left: 50%">
            </div>     
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12">
                </div>
                <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-20 h-20 rounded-lg">
                    <h1 class="mx-auto font-semibold text-lg text-white">09/2022</h1>
                </div>
                <div class="order-1 bg-violet-300 rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="mb-3 font-bold text-white text-xl">Bachelor informatique - spécialisation DEVOPS "Concepteur développeur d'applications"<br>EPSI – Montpellier</h3>
                    <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">Exploiter les compétences en informatique, anticiper de nouveaux scenarii. Développer ses propres solutions applicatives, coder, configurer, déployer…</p>
                </div>
            </div> 
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                <div class="order-1 w-5/12">
                </div>
                <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-20 h-20 rounded-lg">
                    <h1 class="mx-auto font-semibold text-lg text-white">02/2021 <br> 12/2021</h1>
                </div>
                <div class="order-1 bg-sky-200 rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="mb-3 font-bold text-white text-xl">BAC+2 « Développeur Web et Web mobile»<br>Beweb – Montpellier</h3>
                    <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Développer les parties front-end et back-end d’une application web ou web mobile en intégrant les recommandations de sécurité.</p>
                </div>
            </div>
          
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12">
                </div>
                <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-20 h-20 rounded-lg">
                    <h1 class="mx-auto font-semibold text-lg text-white">09/2018 <br> 06/2019</h1>
                </div>
                <div class="order-1 bg-violet-300 rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="mb-3 font-bold text-white text-xl">BAC+3 « Responsable de Programmes Immobiliers»<br>Sup’Exup – Montpellier</h3>
                    <p class="text-sm leading-snug tracking-wide text-white text-opacity-100">Prépare à être responsable de programmes de logements, commerces, bureaux, etc...</p>
                </div>
            </div>
      
            <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                <div class="order-1 w-5/12">
                </div>
                <div class="z-20 flex items-center order-1 bg-red-300 shadow-xl w-20 h-20 rounded-lg">
                    <h1 class="mx-auto font-semibold text-lg text-white">09/2016 <br> 06/2018</h1>
                </div>
                <div class="order-1 bg-sky-200 rounded-lg shadow-xl w-5/12 px-6 py-4">
                    <h3 class="mb-3 font-bold text-white text-xl">BAC+2 « Professions immobilières»<br>Sup’Exup – Montpellier</h3>
                    <p class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100">Former dans des domaines tels que la construction et l’habitat ou encore la commercialisation.</p>            
                </div>
            </div>
        </div>
    </div>
    <br><br>

<h1 class="text-violet-300 text-4xl pt-6 pl-10 text-center">Compétences acquéries au cours de ces formations :</h1>
    <div class="container mx-auto my-20 w-full h-full  bg-white rounded-lg">
        <div class="p-5 space-y-5">
            <div class="grid grid-cols-3 gap-8">
                <img class="rounded-lg pt-6 pl-10 px-4 py-2" src="https://zupimages.net/up/22/26/cro5.png">
                <section>
                    <h1 class="text-violet-300 text-5xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>BeWeB</strong></h1><br><br>
                    <p>
                        BeWeB est un centre de formation situé à Montpellier qui propose le titre professionelle (niveau 5) "developpeur web et web mobile".<br>
                        Equivalence d'un bac+2, ce diplôme permet d'apprendre les bases du métier de développeur web en garantissant des bases solides pour le futur.<br>
                        Pour participer à ce cursus, les compétences en développement ne sont pas nécessaires mais une motivation solide est demandée puisque le rythme d'apprentissage est relativement soutenu.<br>
                        Afin de valider ce titre, il m'a fallut passer 2 mois de stage en entreprise, effectuer 1 mémoire et passer un oral devant un jury composé de professionnels.
                    </p>
                </section>
                <section>
                    <h1 class="text-violet-300 text-5xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>Vue globale</strong></h1><br><br>
                    <ul>
                        <li>Apprentissage des bases du métier de développeur</li>
                        <li>Méthodes agiles</li>
                        <li>Conception d'applications web et web mobile</li>
                        <li>Développement fullstack</li>
                        <li>Apprentissage de divers langages (JavaScript, PHP, HTML5, CSS3, etc...)</li>
                        <li>Apprentissage de divers frameworks (Angular, Symfony, Ionic, etc...)</li>
                        <li>Découverte des CMS</li>
                        <li>Cours de logique et d'algorithmie</li>
                        <li>Esprit d'équipe, cohésion et optimisation des compétences de chacun</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
    
    <div class="container mx-auto my-20 w-full h-full  bg-white rounded-lg">
        <div class="p-5 space-y-5">
            <div class="grid grid-cols-3 gap-8">
                <img class="rounded-lg pt-6 pl-10 px-4 py-2" src="https://zupimages.net/up/22/26/sskj.png">
                <section>
                    <h1 class="text-violet-300 text-5xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>Sup'Exup</strong></h1><br><br>
                    <p>
                        Sup'Exup est une école privée située à Montpellier qui forme ses étudiants aux métiers des domaines du commerce, de l'immobilier ainsi que des ressources humaines.<br>
                        J'y ai effectué un BTS ainsi qu'un bachelor.<br>
                        Le BTS s'effectue en 2 ans (que j'ai fait en alternance) et s'obtient grâce à plusieurs examens écrits, un oral d'anglais et une soutenance à présenter à l'oral, devant un jury de professionnels.<br>
                        Pour ce qi est du bachelor, celui-ci dure 1 an et s'obtient de la même manière que le BTS.
                    </p>
                </section>
                <section>
                    <h1 class="text-violet-300 text-5xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>Vue globale</strong></h1><br><br>
                    <ul>
                        <li>Communication</li>
                        <li>Négaciation</li>
                        <li>Gestion de conflits</li>
                        <li>Etudes de marché</li>
                        <li>Etudes de constructibilité</li>
                        <li>Estimations</li>
                        <li>Achat de terrains à des particuliers</li>
                        <li>Vente, location, gestion de copropriété et gestion locative</li>
                        <li>Techniques commerciales</li>
                        <li>Formation juridique : droit immobilier, droit social</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
