<html>
    <head>
        <base href="/">
        
    </head>
    <body class="w-full">
        <div class="container mx-auto my-20 w-2/3  bg-white rounded-lg">
            <div class="p-5 space-y-5">
                <div class="grid grid-cols-2 gap-5">
                    <section>
                        <h1 class="text-slate-800 text-5xl pt-6 pl-10 px-4 py-2 focus:outline-none">Laurène GEORGES</h1>
                        <h1 class="text-purple-400 text-4xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>Développeuse web</strong></h1>
                        <h1 class="text-teal-400 text-1xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>Joignable au :</strong> 07.70.40.60.58<br><strong>Par mail :</strong> georgeslaurene70@gmail.com<br><strong>GitHub : </strong> <a class="hover:text-teal-500" href="https://github.com/Nyviii70" target="_blank">cliquez ici</a><br><strong>LinkedIn :</strong> <a class="hover:text-teal-500" href="https://www.linkedin.com/in/lg-pro2/" target="_blank"> cliquez ici</a></h1>
                        <h1 class="text-red-400 text-1xl pt-6 pl-10 px-4 py-2 focus:outline-none"><strong>Informations complémentaires :</strong><br>Travail en télétravail full ou hybride : OK<br>Secteur : Montpellier<br>Permis A et B : véhiculée<br>Disponibilité : août 2023 pour alternance en CDD</h1>
                    </section>
                    <img class="rounded-lg pl-32" src="https://zupimages.net/up/22/24/rd5a.png">
                </div>
            </div>
        </div>
        <div class="container mx-auto my-20 w-2/3  bg-white rounded-lg">
            <div class="p-5 space-y-5">
                <p class="pl-10"><strong class="text-6xl text-red-400">B</strong>ienvenue, que vous soyez juste curieux, recruteur potentiel ou encore une personne en recherche d'exemple de portfolio !<br><br><br>Vous trouverez toutes les informations utiles à mon sujet dans les onglets suivants :</p>
                <ul>
                    <li class="pb-4 pl-10"><u class="text-red-400"><strong>Présentation :</strong></u> ici, vous trouverez mon historique, mes passions mais aussi mes technos préférées et une estimation de mon niveau, mes points forts et mes points à renforcer !</li>
                    <li class="pb-4 pl-10"><u class="text-red-400"><strong>Expériences :</strong></u> ici, toutes les expériences professionnelles que j'ai eu mais aussi ce qu'elles m'ont apporter sur les plans personnel et professionnel, des projets personnels que je trouve pertinent de présenter et une petite bibliographie !</li>
                    <li class="pb-4 pl-10"><u class="text-red-400"><strong>Formation :</strong></u> dans cet onglet, on retrouvera l'historique des formations effectuées, une présentation détaillée de mes formations et les connaissances acquises grâce à elles !</li>
                    <li class="pb-6 pl-10"><u class="text-red-400"><strong>Let's play :</strong></u> pour m'occuper et VOUS occuper, j'ai fait un petit jeu !</li>
                </ul>
            </div>
        </div>

    </body>
</html>