<html>
    <head>
        <base href="/">
        
    </head>
    <body>
        prout
        <!-- Bienvenue !

Oui, bienvenue, que vous soyez juste curieux, recruteur potentiel ou encore une personne en recherche d'exemple de portfolio !

Vous trouverez toutes les informations utiles à mon sujet dans les onglets suivants :
Présentation : ici, vous trouverez les informations utiles, mes traits de personnalités mais aussi mes technos préférées, mais points forts ou encore mais points à renforcer !
Expériences : ici, toutes les expériences professionnelles que j'ai eu mais aussi ce qu'elles m'ont apporter sur les plans personnel et professionnel !
Formation : dans cet onglet, on retrouvera les formations effectuées, les connaissances apprises en autodidacte mais aussi les lectures qui m'ont été utiles lors de mon apprentissage !
Contact : pour toutes questions, demandes particulières et autres, c'est ici que ça se passe ! Vous pourrez également télécharger mon dossier technique et mon CV ! -->
    </body>
</html>